<img src="../public/imgs/213942-removebg-preview.png" alt="">
<h1>V.ROOM</h1>
<div class="login-container">
    <div class="navbar">
        <a href="/cadastroDev">Dev</a>
        <a href="/cadastroInc">Inc</a>
        <a href="/cadastro">User</a>
    </div>
    <form action="http://localhost:3000/Verificando">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Cadastrar</button>
    </form>
</div>