<img src="../public/imgs/213942-removebg-preview.png" alt="">
<div class="login-container">
    <div class="navbar">
        <a href="/loginDev">Dev</a>
        <a href="/loginInc">Inc</a>
        <a href="/loginUser">User</a>
    </div>
    <h2>Login</h2>
    <form action="/VerificandoLogin">
        Usuario<input type="text" name="user"> 
        Senha<input type="password" name="password"> 
        <button>Entrar</button>
    </form>
    <a href="/cadastro">Não Possui Cadastro?</a>
</div>