<div class="login-container">
    <div class="navbar">
        <a href="#">Dev</a>
        <a href="#">Inc</a>
        <a href="#">User</a>
    </div>
    <h2>Login</h2>
    <form action="http://localhost:3000/Verificando">
       <input type="text" name="user">
       <input type="password" name="password">
       <button>Entrar</button>
    </form>
    <a href="/cadastro">Não Possui Cadastro?</a>
</div>