@import url(./font.css);

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #332f5b;
    color: white;
    font-family: versallise;
    & img{
        height: 25vh;
    }
}
.navbar {
    background-color: black;
    width: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    & a:hover{
        transform: scale(1.5);
    }
}
.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.login-container {
    background-color: black ;
    padding: 20px;
    border-radius: 10px;
    align-content: center;
    & a{
        color: white;
    }
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: 95%;
    background-color: #2a2a81;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    color: white;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #1a1a74;
    color: white;
    border: none;
    border-radius: 6px;
    width: 70px;
    cursor: pointer;
    margin-bottom: 10px;
}
.login-container button:hover {
    background-color: #2a2a89;
}